// *{
//     border: 1px solid black;;
// }

body{
    line-height: $lineHeight__content;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif; 
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
ul{
    margin-bottom: 0;
    padding-left: 0;
}
li{
    list-style:none;
}
a, a:hover{
    text-decoration: none;
}

// 文字顏色
.textColor__1st100{
    color:$red100;
}
.textColor__1st200{
    color:$red200;
}
.textColor__1st300{
    color:$red300;
}
.textColor__1st400{
    color:$red400;
}

.textColor__2nd100{
    color:$gray100;
}
.textColor__2nd200{
    color:$gray200;
}
.textColor__2nd300{
    color:$gray300;
}
.textColor__2nd400{
    color:$gray400;
}
.textColor__2nd500{
    color:$gray500;
}
.textColor__2nd600{
    color:$gray600;
}
.textColor__2nd700{
    color:$gray700;
}
.textColor__2nd800{
    color:$gray800;
}
.textColor__3rd100{
    color:$brown100;
}
.textColor__3rd200{
    color:$brown200;
}

// 背景顏色
.bgColor__1st100{
    background-color:$red100;
}
.bgColor__1st200{
    background-color:$red200;
}
.bgColor__1st300{
    background-color:$red300;
}
.bgColor__1st400{
    background-color:$red400;
}
.bgColor__2nd100{
    background-color:$gray100;
}
.bgColor__2nd200{
    background-color:$gray200;
}
.bgColor__2nd300{
    background-color:$gray300;
}
.bgColor__2nd400{
    background-color:$gray400;
}
.bgColor__2nd500{
    background-color:$gray500;
}
.bgColor__2nd600{
    background-color:$gray600;
}
.bgColor__2nd700{
    background-color:$gray700;
}
.bgColor__2nd800{
    background-color:$gray800;
}
.bgColor__3rd100{
    background-color:$brown100;
}
.bgColor__3rd200{
    background-color:$brown200;
}

// 文字大小
.fontSize__1{
    font-size: $fontSize__base*4.5;
    // 72px
}
.fontSize__2{
    font-size: $fontSize__base*4;
    // 64px
}
.fontSize__3{
    font-size: $fontSize__base*3;
    // 48px
}
.fontSize__4{
    font-size: $fontSize__base*2.625;
    // 42px
}
.fontSize__5{
    font-size: $fontSize__base*2.25;
    // 36px
}
.fontSize__6{
    font-size: $fontSize__base*2;
    // 32px
}
.fontSize__7{
    font-size: $fontSize__base*1.75;
    // 28px
}
.fontSize__8{
    font-size: $fontSize__base*1.5;
    // 24px
}
.fontSize__9{
    font-size: $fontSize__base*1.25;
    // 20px
}
.fontSize__10{
    font-size: $fontSize__base*1.1875;
    // 19px
}
.fontSize__11{
    font-size: $fontSize__base*1.125;
    // 18px
}
.fontSize__12{
    font-size: $fontSize__base*1.0625;
    // 17px
}
.fontSize__13{
    font-size: $fontSize__base*1;
    // 16px
}
.fontSize__14{
    font-size: $fontSize__base*0.875;
    // 14px
}

// Spacing
// Spacing/margin/top
.mt-3-5{
    margin-top: $spacing_base*5;
    // 20
}
.mt-4-4{
    margin-top: $spacing_base*8;
    // 32
}
.mt-4-8{
    margin-top: $spacing_base*10;
    // 40
}
.mt-6{
    margin-top: $spacing_base*14;
    // 56
}
.mt-7{
    margin-top: $spacing_base*16;
    // 64
}
.mt-8{
    margin-top: $spacing_base*18;
    // 72
}
.mt-9{
    margin-top: $spacing_base*20;
    // 80
}
.mt-10{
    margin-top: $spacing_base*24;
    // 96
}
.mt-11{
    margin-top: $spacing_base*26;
    // 104
}
.mt-12{
    margin-top: $spacing_base*40;
    // 160
}

// Spacing/margin/bottom
.mb-3-5{
    margin-bottom: $spacing_base*5;
    // 20
}
.mb-4-4{
    margin-bottom: $spacing_base*8;
    // 32
}
.mb-4-8{
    margin-bottom: $spacing_base*10;
    // 40
}
.mb-6{
    margin-bottom: $spacing_base*14;
    // 56
}
.mb-7{
    margin-bottom: $spacing_base*16;
    // 64
}
.mb-8{
    margin-bottom: $spacing_base*18;
    // 72
}
.mb-9{
    margin-bottom: $spacing_base*20;
    // 80
}
.mb-10{
    margin-bottom: $spacing_base*24;
    // 96
}
.mb-11{
    margin-bottom: $spacing_base*26;
    // 104
}
.mb-12{
    margin-bottom: $spacing_base*40;
    // 160
}

// Spacing/margin/left
.ms-3-5{
    margin-left: $spacing_base*5;
    // 20
}
.ms-4-4{
    margin-left: $spacing_base*8;
    // 32
}
.ms-4-8{
    margin-left: $spacing_base*10;
    // 40
}
.ms-6{
    margin-left: $spacing_base*14;
    // 56
}
.ms-7{
    margin-left: $spacing_base*16;
    // 64
}
.ms-8{
    margin-left: $spacing_base*18;
    // 72
}
.ms-9{
    margin-left: $spacing_base*20;
    // 80
}
.ms-10{
    margin-left: $spacing_base*24;
    // 96
}
.ms-11{
    margin-left: $spacing_base*26;
    // 104
}
.ms-12{
    margin-left: $spacing_base*40;
    // 160
}

// Spacing/margin/right
.me-3-5{
    margin-right: $spacing_base*5;
    // 20
}
.me-4-4{
    margin-right: $spacing_base*8;
    // 32
}
.me-4-8{
    margin-right: $spacing_base*10;
    // 40
}
.me-6{
    margin-right: $spacing_base*14;
    // 56
}
.me-7{
    margin-right: $spacing_base*16;
    // 64
}
.me-8{
    margin-right: $spacing_base*18;
    // 72
}
.me-9{
    margin-right: $spacing_base*20;
    // 80
}
.me-10{
    margin-right: $spacing_base*24;
    // 96
}
.me-11{
    margin-right: $spacing_base*26;
    // 104
}
.me-12{
    margin-right: $spacing_base*40;
    // 160
}

// Spacing/margin/top&bottom
.my-3-5{
    margin-top: $spacing_base*5;
    margin-bottom: $spacing_base*5;
    // 20
}
.my-4-4{
    margin-top: $spacing_base*8;
    margin-bottom: $spacing_base*8;
    // 32
}
.my-4-8{
    margin-top: $spacing_base*10;
    margin-bottom: $spacing_base*10;
    // 40
}
.my-6{
    margin-top: $spacing_base*14;
    margin-bottom: $spacing_base*14;
    // 56
}
.my-7{
    margin-top: $spacing_base*16;
    margin-bottom: $spacing_base*16;
    // 64
}
.my-8{
    margin-top: $spacing_base*18;
    margin-bottom: $spacing_base*18;
    // 72
}
.my-9{
    margin-top: $spacing_base*20;
    margin-bottom: $spacing_base*20;
    // 80
}
.my-10{
    margin-top: $spacing_base*24;
    margin-bottom: $spacing_base*24;
    // 96
}
.my-11{
    margin-top: $spacing_base*26;
    margin-bottom: $spacing_base*26;
    // 104
}
.my-12{
    margin-top: $spacing_base*40;
    margin-bottom: $spacing_base*40;
    // 160
}

// Spacing/margin/left&right
.mx-3-5{
    margin-left: $spacing_base*5;
    margin-right: $spacing_base*5;
    // 20
}
.mx-4-4{
    margin-left: $spacing_base*8;
    margin-right: $spacing_base*8;
    // 32
}
.mx-4-8{
    margin-left: $spacing_base*10;
    margin-right: $spacing_base*10;
    // 40
}
.mx-6{
    margin-left: $spacing_base*14;
    margin-right: $spacing_base*14;
    // 56
}
.mx-7{
    margin-left: $spacing_base*16;
    margin-right: $spacing_base*16;
    // 64
}
.mx-8{
    margin-left: $spacing_base*18;
    margin-right: $spacing_base*18;
    // 72
}
.mx-9{
    margin-left: $spacing_base*20;
    margin-right: $spacing_base*20;
    // 80
}
.mx-10{
    margin-left: $spacing_base*24;
    margin-right: $spacing_base*24;
    // 96
}
.mx-11{
    margin-left: $spacing_base*26;
    margin-right: $spacing_base*26;
    // 104
}
.mx-12{
    margin-left: $spacing_base*40;
    margin-right: $spacing_base*40;
    // 160
}

// Spacing/padding/top
.pt-3-5{
    padding-top: $spacing_base*5;
    // 20
}
.pt-4-4{
    padding-top: $spacing_base*8;
    // 32
}
.pt-4-8{
    padding-top: $spacing_base*10;
    // 40
}
.pt-6{
    padding-top: $spacing_base*14;
    // 56
}
.pt-7{
    padding-top: $spacing_base*16;
    // 64
}
.pt-8{
    padding-top: $spacing_base*18;
    // 72
}
.pt-9{
    padding-top: $spacing_base*20;
    // 80
}
.pt-10{
    padding-top: $spacing_base*24;
    // 96
}
.pt-11{
    padding-top: $spacing_base*26;
    // 104
}
.pt-12{
    padding-top: $spacing_base*40;
    // 160
}

// Spacing/padding/bottom
.pb-3-5{
    padding-bottom: $spacing_base*5;
    // 20
}
.pb-4-4{
    padding-bottom: $spacing_base*8;
    // 32
}
.pb-4-8{
    padding-bottom: $spacing_base*10;
    // 40
}
.pb-6{
    padding-bottom: $spacing_base*14;
    // 56
}
.pb-7{
    padding-bottom: $spacing_base*16;
    // 64
}
.pb-8{
    padding-bottom: $spacing_base*18;
    // 72
}
.pb-9{
    padding-bottom: $spacing_base*20;
    // 80
}
.pb-10{
    padding-bottom: $spacing_base*24;
    // 96
}
.pb-11{
    padding-bottom: $spacing_base*26;
    // 104
}
.pb-12{
    padding-bottom: $spacing_base*40;
    // 160
}

// Spacing/padding/left
.ps-3-5{
    padding-left: $spacing_base*5;
    // 20
}
.ps-4-4{
    padding-left: $spacing_base*8;
    // 32
}
.ps-4-8{
    padding-left: $spacing_base*10;
    // 40
}
.ps-6{
    padding-left: $spacing_base*14;
    // 56
}
.ps-7{
    padding-left: $spacing_base*16;
    // 64
}
.ps-8{
    padding-left: $spacing_base*18;
    // 72
}
.ps-9{
    padding-left: $spacing_base*20;
    // 80
}
.ps-10{
    padding-left: $spacing_base*24;
    // 96
}
.ps-11{
    padding-left: $spacing_base*26;
    // 104
}
.ps-12{
    padding-left: $spacing_base*40;
    // 160
}

// Spacing/padding/right
.pe-3-5{
    padding-right: $spacing_base*5;
    // 20
}
.pe-4-4{
    padding-right: $spacing_base*8;
    // 32
}
.pe-4-8{
    padding-right: $spacing_base*10;
    // 40
}
.pe-6{
    padding-right: $spacing_base*14;
    // 56
}
.pe-7{
    padding-right: $spacing_base*16;
    // 64
}
.pe-8{
    padding-right: $spacing_base*18;
    // 72
}
.pe-9{
    padding-right: $spacing_base*20;
    // 80
}
.pe-10{
    padding-right: $spacing_base*24;
    // 96
}
.pe-11{
    padding-right: $spacing_base*26;
    // 104
}
.pe-12{
    padding-right: $spacing_base*40;
    // 160
}

// Spacing/padding/top&bottom
.py-3-5{
    padding-top: $spacing_base*5;
    padding-bottom: $spacing_base*5;
    // 20
}
.py-4-4{
    padding-top: $spacing_base*8;
    padding-bottom: $spacing_base*8;
    // 32
}
.py-4-8{
    padding-top: $spacing_base*10;
    padding-bottom: $spacing_base*10;
    // 40
}
.py-6{
    padding-top: $spacing_base*14;
    padding-bottom: $spacing_base*14;
    // 56
}
.py-7{
    padding-top: $spacing_base*16;
    padding-bottom: $spacing_base*16;
    // 64
}
.py-8{
    padding-top: $spacing_base*18;
    padding-bottom: $spacing_base*18;
    // 72
}
.py-9{
    padding-top: $spacing_base*20;
    padding-bottom: $spacing_base*20;
    // 80
}
.py-10{
    padding-top: $spacing_base*24;
    padding-bottom: $spacing_base*24;
    // 96
}
.py-11{
    padding-top: $spacing_base*26;
    padding-bottom: $spacing_base*26;
    // 104
}
.py-12{
    padding-top: $spacing_base*40;
    padding-bottom: $spacing_base*40;
    // 160
}

// Spacing/padding/left&right
.px-3-5{
    padding-left: $spacing_base*5;
    padding-right: $spacing_base*5;
    // 20
}
.px-4-4{
    padding-left: $spacing_base*8;
    padding-right: $spacing_base*8;
    // 32
}
.px-4-8{
    padding-left: $spacing_base*10;
    padding-right: $spacing_base*10;
    // 40
}
.px-6{
    padding-left: $spacing_base*14;
    padding-right: $spacing_base*14;
    // 56
}
.px-7{
    padding-left: $spacing_base*16;
    padding-right: $spacing_base*16;
    // 64
}
.px-8{
    padding-left: $spacing_base*18;
    padding-right: $spacing_base*18;
    // 72
}
.px-9{
    padding-left: $spacing_base*20;
    padding-right: $spacing_base*20;
    // 80
}
.px-10{
    padding-left: $spacing_base*24;
    padding-right: $spacing_base*24;
    // 96
}
.px-11{
    padding-left: $spacing_base*26;
    padding-right: $spacing_base*26;
    // 104
}
.px-12{
    padding-left: $spacing_base*40;
    padding-right: $spacing_base*40;
    // 160
}