
.pt-4-8{
    @include pad{
        padding-top: $spacing_base*8;
        // 32
    }
    @include mobile{
        padding-top: $spacing_base*7;
        // 28
    }
    @include mobile{
        margin-bottom: $spacing_base*10;
        // 40
    }
}
.mb-10{
    @include pad{
        margin-bottom: $spacing_base*16;
        // 64
    }
}

.subMenu{
    font-weight: 700;
    font-size: $fontSize__base*1.25;
    // 20px
    @include mobile{
        font-size: $fontSize__base*1;
        // 16px
    }
}
.menuSearch{
    font-size: $fontSize__base*1.875;
    // 30px
}
.blogCard{
   &_title{
        font-weight: 400;
        font-size: $fontSize__base*2;
        // 32px
        @include pad{
            font-size: $fontSize__base*1.25;
            // 20px
        }
        @include mobile{
            font-size: $fontSize__base*1;
            // 16px
        }
    }
    &_subTitle{
        font-weight: 500;
        font-size: $fontSize__base*1.25;
        // 20px
        @include pad{
            font-size: $fontSize__base*1;
            // 16px
        }
        @include mobile{
            font-size: $fontSize__base*0.875;
            // 14px
        }
    } 
    &_date{
        font-weight: 500;
        opacity: 0.7;
        font-size: $fontSize__base*1;
        // 16px
        @include pad{
            font-size: $fontSize__base*0.875;
            // 14px
        }
    }
    &_detail{
        font-weight: 400;
        color: $gray500;
        font-size: $fontSize__base*1.25;
        // 20px
        @include pad{
            position: relative;
            font-size: $fontSize__base*0.875;
            // 14px
        }
    }
    &_moreLink-lg{
        font-weight: 900;
        color:$red400;
        font-size: $fontSize__base*2.25;
        // 36px
    }
    &_moreLink-sm{
        position: absolute;
        right: 0;
        bottom: 0;
        font-weight: 700;
        color: $gray500;
        font-size: $fontSize__base*0.875;
        // 14px;
    }
}