// color
$white:#ffffff;
$black:#000000;
$gray100:#F2F2F2;
$gray200:#CED4DA;
$gray300:#707070;
$gray400:#6C6C6C;
$gray500:#555555;
$gray600:#495057;
$gray700:#212529;
$gray800:#0A0A0A;
$red100:#FBF2F2;
$red200:#9F1213;
$red300:#AA0601;
$red400:#650300;
$brown100:#B75929;
$brown200:#5F3E2D;

// text
$fontSize__base: 1rem;

// line-height
$lineHeight__title: 1.2;
$lineHeight__content: 1.5;

// sizing
$spacing_base:4px;